<h2>
  <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
  Admin dashboard
</h2>

<flash-messages></flash-messages>

<table class="table" id="fanfics-table">
  <thead>
  <tr>
    <th scope="col" class="toolbar">
      <form>
      <i class="pointer fa fa-2x fa-user-circle" [class.disabled]="this.selection.selected.length != 1" (click)="changeBlockStatus()"></i>
      <i class="pointer fa fa-2x fa-low-vision" [class.disabled]="this.selection.selected.length == 0" (click)="changeUsersRole()"></i>
      <i class="pointer fa fa-2x fa-lock" [class.disabled]="this.selection.selected.length == 0" (click)="changeBlockStatus()"></i>
      <i class="pointer fa fa-2x fa-trash" [class.disabled]="this.selection.selected.length == 0" (click)="deleteUsers()"></i>
      </form>
    </th>
  </tr>
  </thead>
</table>

<div class="mat-container mat-elevation-z8">
  <div class="mat-header">
    <mat-form-field>
      <input matInput #filter placeholder="Filter fanfic">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort  class="mat-cell">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> _id </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user._id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="photo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Photo </mat-header-cell>
      <mat-cell *matCellDef="let user"><img class="scale" src="{{user.photoUrl}}"></mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header=""> Role </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="provider">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Provider </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.provider}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
  </mat-table>

  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>









