<div class="dropzone"
     dropZone
     (hovered)="toggleHover($event)"
     (dropped)="startUpload($event)"
     [class.hovering]="isHovering">

  <p>Drag and Drop a cover for your fanfic</p>
  <div class="file">
    <label class="file-label">

      <input class="file-input" type="file" (change)="startUpload($event.target.files)">

      <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a cover…
            </span>
          </span>
    </label>
    <div *ngIf="this.fanficService.editFanficVisible && !downloadURL">
      <img class="drop-image" [src]="this.fanficService.currentFanfic.cover"><br>
      <a [href]="this.fanficService.currentFanfic.cover" target="_blank" rel="noopener"></a>
    </div>
    <div *ngIf="this.fanficService.editChapterVisible && !downloadURL && this.fanficService.currentChapter.cover">
      <img class="drop-image" [src]="this.fanficService.currentChapter.cover"><br>
      <a [href]="this.fanficService.currentChapter.cover" target="_blank" rel="noopener"></a>
    </div>
    <div *ngIf="downloadURL | async as url">
      <img class="drop-image" [src]="url"><br>
      <a [href]="url" target="_blank" rel="noopener"></a>
    </div>
  </div>
</div>

<div *ngIf="percentage | async as pct">

  <progress class=""
            [value]="pct"
            max="100">
  </progress>

  {{ pct | number }}%

  <div *ngIf="(snapshot | async) as snap">
    {{ snap.bytesTransferred | fileSize }} of {{ snap.totalBytes | fileSize }}

    <hr>

    <button (click)="task.pause()" class="btn btn-warning" [disabled]="!isActive(snap)">Pause</button>
    <button (click)="task.cancel()" class="btn btn-danger" [disabled]="!isActive(snap)">Cancel</button>
    <button (click)="task.resume()" class="btn btn-info"   [disabled]="!(snap?.state === 'paused')">Resume</button>

  </div>

</div>


