<div id="top"></div>

<fanfic-editor *ngIf="this.fanficService.fanficEditorVisible" id="edit-fanfic"></fanfic-editor>
<new-fanfic *ngIf="this.fanficService.newFanficVisible" id="new-fanfic" ></new-fanfic>

<h2>
  <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
  Fanfics
</h2>

<div class="mat-container mat-elevation-z8">
  <div class="mat-header">
    <mat-form-field>
      <input matInput #filter placeholder="Filter fanfic">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort  class="mat-cell">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="this.fanficService.newFanficToggle()" [ngx-scroll-to]="'new-fanfic'">
          <mat-icon aria-label="Actions">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let fanfic">
        <button mat-icon-button color="accent" (click)="this.fanficService.fanficEditorOpen(fanfic)" [ngx-scroll-to]="'edit-fanfic'">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(fanfic._id)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- Position Column -->

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let fanfic"> {{fanfic.title}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let fanfic"> {{fanfic.description}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cover">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cover </mat-header-cell>
      <mat-cell *matCellDef="let fanfic"><img class="scale" src="{{fanfic.cover}}"></mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="genre">
      <mat-header-cell *matHeaderCellDef mat-sort-header=""> Genre </mat-header-cell>
      <mat-cell *matCellDef="let fanfic"> {{fanfic.genre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tags">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tags </mat-header-cell>
      <mat-cell *matCellDef="let fanfic"> {{fanfic.tags}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="chaptersCount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Chapters count </mat-header-cell>
      <mat-cell *matCellDef="let fanfic"> {{fanfic.fanficChapters.length}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
  </mat-table>

  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>









