<nav id="navbar" class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">{{'NAVBAR.PROMO' | translate}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="authService.loggedIn() && authService.isAdmin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/admin/dashboard">{{'NAVBAR.DASHBOARD' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/register" href="#">{{'NAVBAR.REGISTER' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/login">{{'NAVBAR.LOGIN' | translate}}</a>
        </li>

        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'NAVBAR.PROFILE' | translate}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/profile/info">{{'NAVBAR.INFO' | translate}}</a>
            <a class="dropdown-item" routerLink="/profile/fanfic">{{'NAVBAR.FANFICS' | translate}}</a>
            <a class="dropdown-item cursor" (click)="onLogoutClick()">{{'NAVBAR.LOGOUT' | translate}}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{'NAVBAR.LANG' | translate}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item cursor" (click)="onLangClick('EN')">EN</a>
            <a class="dropdown-item cursor" (click)="onLangClick('RU')">RU</a>
          </div>
        </li>
      </ul>
      <form [formGroup]="form" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="{{'NAVBAR.SEARCH' | translate}}" aria-label="Search" formControlName="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{'NAVBAR.SEARCH' | translate}}</button>
      </form>
    </div>
  </div>
</nav>

