<h2>
  <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
  Info
</h2>

<ul class="list-group">
  <li class="list-group-item">Username: {{ this.authService.user.username }}</li>
  <li class="list-group-item">
    <div>
      Email: <inline-editor type="text" [(ngModel)]="email" (onSave)="saveEditable($event)" name="email" size="8"></inline-editor>
    </div></li>
  <li class="list-group-item"><img src="{{ this.authService.user.photoUrl }}"></li>
</ul>
