<h2>
  <a href="" data-target="#sidebar" data-toggle="collapse" class="d-md-none"><i class="fa fa-bars"></i></a>
  Info
</h2>

<ul class="list-group">
  <li class="list-group-item">{{'PROFILE.INFO.USERNAME' | translate}}:<br>{{ this.authService.user.username}}</li>
  <li class="list-group-item">
    <div>
      {{'PROFILE.INFO.EMAIL' | translate}}: <inline-editor type="text" class="pointer" [(ngModel)]="email" (onSave)="saveEditable($event)" name="email" size="8"></inline-editor>
    </div></li>
  <li class="list-group-item full">{{'PROFILE.INFO.AVATAR' | translate}}:<br><img class="avatar pointer" src="{{ this.authService.user.photoUrl }}" (click)="onImageClick()"></li>
  <!--<li *ngIf="uploadVisible">
    <file-upload></file-upload>
    <button class="btn btn-primary" [class.disabled]="fileUploadComponent.downloadURL" (click)="onEditAvatar()">Edit</button>
    <button class="btn btn-primary" (click)="onUploadCancel()">Cancel</button>
  </li>-->
</ul>
